*
!admin
!admin/controller
!admin/controller/extension
!admin/controller/extension/payment
!admin/controller/extension/payment/payflex.php
!admin/language
!admin/language/en-gb
!admin/language/en-gb/extension
!admin/language/en-gb/extension/payment
!admin/language/en-gb/extension/payment/payflex.php
!admin/model
!admin/model/extension
!admin/model/extension/payment
!admin/model/extension/payment/payflex.php
!admin/view
!admin/view/template
!admin/view/template/extension
!admin/view/template/extension/payment
!admin/view/template/extension/payment/payflex.twig
!catalog
!catalog/controller
!catalog/controller/extension
!catalog/controller/extension/payment
!catalog/controller/extension/payment/payflex.php
!catalog/controller/extension/payment/payflex
!catalog/controller/extension/payment/payflex/payflex.php
!catalog/language
!catalog/language/en-gb
!catalog/language/en-gb/extension
!catalog/language/en-gb/extension/payment
!catalog/language/en-gb/extension/payment/payflex.php
!catalog/model
!catalog/model/extension
!catalog/model/extension/payment
!catalog/model/extension/payment/payflex.php
!catalog/view
!catalog/view/theme
!catalog/view/theme/default
!catalog/view/theme/default/template
!catalog/view/theme/default/template/extension
!catalog/view/theme/default/template/extension/payment
!catalog/view/theme/default/template/extension/payment/payflex.twig
!image
!image/catalog
!image/catalog/payment
!image/catalog/payment/payflex-logo.png
!image/catalog/payment/payflex.png
!image/catalog/payment/payflex_proceed.png
!payflex_output
!payflex_output/create_extension.sh
!payflex_output/filelist.txt
!payflex_output/index.php
!.gitignore